<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jacob.material">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".main.activity.MainLaunchActivity"
            android:configChanges="uiMode"
            android:theme="@style/Theme.MaterialBook.DayNight.LunchScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.activity.MainNavigationActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait"/>


        <!-- Top App Bar -->
        <activity
            android:name=".example.topappbar.TopAppBarDayNightDefaultActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.topappbar.TopAppBarDayNightCustomActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.topappbar.TopAppBarCustomLayoutActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.topappbar.TopAppBarBaseFuncActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.topappbar.TopAppBarContextualActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.topappbar.TopAppBarBigActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.topappbar.TopAppBarScrollingActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.topappbar.TopAppBarCollapseActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.topappbar.TopAppBarLightActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.topappbar.TopAppBarDarkActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Dark"
            android:screenOrientation="portrait"/>


        <!-- Bottom App Bar -->
        <activity
            android:name=".example.bottomappbar.BottomAppBarBaseActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.bottomappbar.BottomAppBarDayNightDefaultActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.bottomappbar.BottomAppBarDayNightCustomActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.bottomappbar.BottomAppBarDiamondActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Mono"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.bottomappbar.BottomAppBarDemoActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait"/>


        <!-- Bottom Navigation -->
        <activity
            android:name=".example.bottomnavigation.BottomNavigationDayNightDefaultActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.bottomnavigation.BottomNavigationDayNightCustomActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.bottomnavigation.BottomNavigationBaseActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.bottomnavigation.BottomNavigationBaseShiftActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.bottomnavigation.BottomNavigationBaseIconActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.bottomnavigation.BottomNavigationBasePrimaryActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.bottomnavigation.BottomNavigationCustomActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Dark"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.bottomnavigation.BottomNavigationFabActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.bottomnavigation.BottomNavigationDarkActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Dark"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.bottomnavigation.BottomNavigationDemoActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <!-- Tab -->

        <activity
            android:name=".example.tab.TabDayNightDefaultActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.tab.TabDayNightCustomActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.tab.TabBaseActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.tab.TabMomondoActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light.TranslucentStatus"
            android:screenOrientation="portrait"/>

        <!-- Drawer -->

        <activity
            android:name=".example.drawer.DrawerDayNightDefaultActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Default.TranslucentStatus"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.drawer.DrawerDayNightCustomActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.drawer.DrawerTopAppBarActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.drawer.DrawerShopActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait"/>


        <!-- Backdrop -->

        <activity
            android:name=".example.backdrop.BackdropIntroActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.backdrop.BackdropMultiBackActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".example.backdrop.BackdropCraneLaunchActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".example.backdrop.BackdropCraneMainActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>

        <!-- FAB -->
        <activity
            android:name=".example.fab.FabDayNightDefaultActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.fab.FabDayNightCustomActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.fab.FabAttractiveActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light.TranslucentStatus"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.fab.FabProfileActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light.TranslucentStatus"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.fab.FabBehaviorActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light.TranslucentStatus"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.fab.FabRelateActionActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.fab.FabMotionActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.fab.FabPhoneActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>


        <!-- MENU -->
        <activity
            android:name=".example.menu.MenuDayNightDefaultActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.menu.MenuDayNightCustomActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.menu.MenuTopAppBarActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.menu.MenuAutoCompleteActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.menu.MenuContextActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Dark"
            android:screenOrientation="portrait">
        </activity>

        <!-- BOTTOM SHEET -->
        <activity
            android:name=".example.bottomsheet.BottomSheetDayNightDefaultActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.bottomsheet.BottomSheetDayNightCustomActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.bottomsheet.BottomSheetFullActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.bottomsheet.BottomSheetDialogActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.bottomsheet.BottomSheetMotionActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait">
        </activity>

        <!-- BUTTON -->
        <activity
            android:name=".example.button.ButtonDayNightDefaultActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.button.ButtonDayNightCustomActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.button.ButtonHighEmphasisActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.button.ButtonMiddleEmphasisActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.button.ButtonLowEmphasisActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.button.ButtonToggleActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>


        <!-- CHIP -->
        <activity
            android:name=".example.chip.ChipDayNightDefaultActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.chip.ChipDayNightCustomActivity"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.chip.ChipInputActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.chip.ChipChoiceActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.chip.ChipFilterActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>

        <!-- BANNER -->
        <activity
            android:name=".example.banner.BannerBaseActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".example.banner.BannerNetworkActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait">
        </activity>




        <activity
            android:name=".test.EventTestActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Dark.TranslucentStatus"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".test.TestMotionActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".test.TestShareElementActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".test.TestShapeActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>


        <!-- 模仿案例 -->
        <activity
            android:name=".imitate.toutiao.TouTiaoMainActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".imitate.zhihu.ZhihuMainActivity"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"
            android:screenOrientation="portrait"/>


    </application>

</manifest>