<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacob.book.material">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true">
        <activity
            android:name=".main.activity.MainLaunchActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.DayNight.LunchScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.activity.MainNavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"/>

        <!--Top App Bar-->
        <activity
            android:name=".example.topappbar.TopAppBarDayNightDefaultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"/>

        <activity
            android:name=".example.topappbar.TopAppBarDayNightCustomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"/>

        <activity
            android:name=".example.topappbar.TopAppBarCustomLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"/>

        <activity
            android:name=".example.topappbar.TopAppBarBaseFuncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"/>

        <activity
            android:name=".example.topappbar.TopAppBarContextualActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"/>

        <activity
            android:name=".example.topappbar.TopAppBarBigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"/>

        <activity
            android:name=".example.topappbar.TopAppBarScrollingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"/>

        <activity
            android:name=".example.topappbar.TopAppBarCollapseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored.TranslucentStatus"/>

        <activity
            android:name=".example.topappbar.TopAppBarLightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"/>

        <activity
            android:name=".example.topappbar.TopAppBarDarkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Dark"/>

        <activity
            android:name=".example.topappbar.TopAppBarTouTiaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"/>

        <!--Bottom App Bar-->
        <activity
            android:name=".example.bottomappbar.BottomAppBarBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"/>

        <activity
            android:name=".example.bottomappbar.BottomAppBarDayNightDefaultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"/>

        <activity
            android:name=".example.bottomappbar.BottomAppBarDayNightCustomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"/>

        <activity
            android:name=".example.bottomappbar.BottomAppBarDiamondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Mono"/>

        <activity
            android:name=".example.bottomappbar.BottomAppBarDemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"/>

        <!--Bottom Navigation-->
        <activity
            android:name=".example.bottomnavigation.BottomNavigationDayNightDefaultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.DayNight.Default"/>

        <activity
            android:name=".example.bottomnavigation.BottomNavigationDayNightCustomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"/>

        <activity
            android:name=".example.bottomnavigation.BottomNavigationFabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.DayNight.Custom"/>

        <activity
            android:name=".example.bottomnavigation.BottomNavigationDemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Light"/>


        <activity
            android:name=".main.activity.SnapTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialBook.SingleColor.Colored"/>


    </application>

</manifest>
